<div class="wrapper_with_padding">
  <div id="docs">
    <% if @docs.blank? %>
    <div class="wrapper_with_padding" >
        <h2 class='title'><%= t('.title') %></h2>
        <p > <%= t('.subtitle') %></p>
        <button> <%= link_to t('.title'), new_doc_path %> </button>
    </div>
      <% else %>
        <% @docs.each do |doc| %>
          <div class="doc">
          <%= link_to(doc) do %>
            <p class="title"><%= doc.title %></p>
            <p class="date"><%= time_ago_in_words(doc.created_at) %></p>
            <p class="content"><%= truncate(doc.content, length:100) %></p>
          <% end %>
          </div>
     <% end %>
  </div>


<% end %>
</div>
